<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- <meta
      name="viewport"
      content="width = device-width, height = device-height, initial-scale = 1"
    /> -->
    <title>홈 화면</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <!-- load bootstrap css -->
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <!-- load fontawesome -->
    <style>
      /* body {
        padding-top: 80px;
      } */

      input,
      .btn {
        width: 60%;
        padding: 12px;
        font-weight: bold;
        border: none;
        border-radius: 4px;
        margin: 5px 0;
        opacity: 0.85;
        display: inline-block;
        font-size: 17px;
        line-height: 20px;
        text-decoration: none; /* remove underline from anchors */
      }

      .fb {
        background-color: #3b5998;
        color: white;
        font-weight: bold;
      }

      .naver {
        background-color: #1ec800;
        color: #ffffff;
        font-weight: bold;
      }

      .kakao {
        background-color: #f7e317;
        color: #1e1e1e;
        font-weight: bold;
      }

      .google {
        background-color: #4285f4;
        color: #ffffff;
        font-weight: bold;
      }

      /* Two-column layout */
      /* .col {
        float: left;
        width: 50%;
        margin: auto;
        padding: 0 50px;
        margin-top: 6px;
      } */

      @font-face {
        font-family: "Nanum Gothic";
        font-style: normal;
        font-weight: 400;
        src: url("../public/font/NanumGothic-Regular.eot");
        src: local("NanumGothic"),
          url("../public/font/NanumGothic-Regular.eot?#iefix")
            format("embedded-opentype"),
          url("../public/font/NanumGothic-Regular.woff2") format("woff2"),
          url("../public/font/NanumGothic-Regular.woff") format("woff"),
          url("../public/font/NanumGothic-Regular.ttf") format("truetype");
      }

      h1,
      p,
      a {
        font-family: "Nanum Gothic";
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1><span></span>안녕하세요</h1>
        <br />
        <p>로그인하세요.</p>
        <p>계정이 없으시면 회원가입하세요.</p>
        <a href="/login" class="btn btn-default">
          <span class="fa fa-user"></span> 로그인
        </a>
        <a href="/signup" class="btn btn-default">
          <span class="fa fa-user"></span> 회원가입
        </a>
        <br />
        <!--<a href="/auth/naver" class="naver btn">
          네이버 계정으로 로그인
        </a>
        <br />
        <a href="/auth/kakao" class="kakao btn">
          카카오 계정으로 로그인
        </a>
        <br />
        <a href="/auth/google" class="google btn">
          <span class="fa fa-google"></span>
          구글 계정으로 로그인
        </a>
        <br />
        <a href="/auth/facebook" class="fb btn">
          페이스북 계정으로 로그인
        </a>-->
        <br />
      </div>
    </div>
  </body>
</html>
