<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sejin Board</title>
  <title>글 작성</title>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet" />
  <link rel="stylesheet" href="../public/semantic/out/semantic.min.css" />
  <link rel="stylesheet" href="../public/summernote/summernote.css" />

  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    html {
      width: 100%;
      height: 100%;
    }

    body {
      width: 100%;
      height: 100%;
      color: #000;
      background-color: #fff;
    }

    .popover {
      display: none !important;
    }

    .container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      /* justify-content: center; */
      margin-top: 5em;
    }

    #iconImage {
      display: inline;
    }

    #titleText {
      font-size: 1.4em;
      font-weight: bold;
      color: #777;
    }

    #contentsText {
      color: #999;
    }

    #form1 {
      padding: 1em;
    }

    .row {
      height: 3em;
    }

    .col1 {
      height: 3em;
    }

    .inputbox {
      width: 20em;
    }

    #buttonContainer {
      padding-top: 3em;
      padding-right: 1em;
      text-align: right;
    }
  </style>

  <!-- Bootstrap core CSS -->
  <link href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <!-- <link href="css/simple-sidebar.css" rel="stylesheet"> -->
  <link href="/public/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">
        <a href="/">Sejin Board </a>
      </div>
      <div class="list-group list-group-flush">
        <form id="boardbtn" method="post" action="/process/listpost">
          <input type="hidden" name="page" value="0" />
          <input type="hidden" name="perPage" value="5" />
          <a href="#" class="list-group-item list-group-item-action bg-light"
            onclick="document.getElementById('boardbtn').submit();">게시판</a>
        </form>
        <a href="/public/amateurPirates.html" class="list-group-item list-group-item-action bg-light">게임</a>
        <a href="/public/Three.js/skeleton.html" class="list-group-item list-group-item-action bg-light">Three.js
          연습장</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li> -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <% if(!user) { %>
                계정
                <% } else { %>
                <%= user.name %>
                <% } %>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <% if(!user) { %>
                <a class="dropdown-item" href="/login">로그인</a>
                <% } else { %>
                <a class="dropdown-item" href="/logout">로그아웃</a>
                <% } %>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <div id="cardbox" class="ui blue fluid card">
          <form class="content ui form" method="post" action="/process/addpost" , onsubmit="return validateForm();">
            <h4 class="ui dividing header">새 글 쓰기</h4>
            <div class="two fields">
              <div class="field">
                <label>작성자: <%= user.name %></label>
                <input type="hidden" name="writer" value="<%= user.email %>" />
              </div>
              <div class="field"></div>
            </div>
            <div class="two fields">
              <div class="field">
                <label>제목</label>
                <input id="postTitle" type="text" name="title" placeholder="제목 입력" />
              </div>
              <div class="field"></div>
            </div>
            <div class="field">
              <label>내용</label>
              <textarea name="contents" id="summernote" cols="80" rows="50"></textarea>
            </div>
            <div class="alert alert-danger" id="alertMsg" style="display: none"></div>
            <input class="ui submit button" type="submit" value="작성" , name="" />
            <input class="ui button" type="button" value="취소" name="" onclick="javascript:window.history.back()" />
          </form>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="/public/vendor/jquery/jquery.min.js"></script>
  <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../public/summernote/summernote.js"></script>
  <script src="../public/semantic/out/semantic.min.js"></script>
  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
  <!-- summernote script -->
  <script>
    $(document).ready(function () {
      $("#summernote").summernote({
        height: 300, // set editor height
        minHeight: null, // set minimum height of editor
        maxHeight: null, // set maximum height of editor
        focus: true,
        toolbar: [    // [groupName, [list of button]]
          ['style', ['style']],
          ['font', ['bold', 'italic', 'underline', 'clear']],
          ['fontname', ['fontname']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['height', ['height']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'hr']],
          ['view', ['fullscreen', 'codeview']],
          ['help', ['help']]
        ]
      });
    });
  </script>
  <!-- validate input script -->
  <script>
    const validateForm = () => {
      const titleLength = document.getElementById('postTitle').value.length;
      const contentLength = $('#summernote').summernote('isEmpty');

      if (titleLength === 0 && contentLength === true) {
        document.getElementById("alertMsg").innerHTML = "제목과 내용을 입력하세요.";
        // 경고창 보이게 설정
        document.getElementById("alertMsg").style.display = '';
        return false;
      }
      else if (titleLength === 0) {
        document.getElementById("alertMsg").innerHTML = "제목을 입력하세요.";
        // 경고창 보이게 설정
        document.getElementById("alertMsg").style.display = '';
        return false;
      }
      else if(contentLength === true) {
        document.getElementById("alertMsg").innerHTML = "내용을 입력하세요.";
        // 경고창 보이게 설정
        document.getElementById("alertMsg").style.display = '';
        return false;
      }

      if(confirm("글 작성을 완료하시겠습니까?"))
        return true;
      else
        return false;
    };
  </script>
</body>

</html>