<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width = device-width, height = device-height, initial-scale = 1"
    />
    <title>로그인 화면</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <!-- load bootstrap css -->
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <!-- load fontawesome -->
    <style>
      body {
        padding-top: 80px;
      }

      @font-face {
        font-family: "Nanum Gothic";
        font-style: normal;
        font-weight: 400;
        src: url("../public/font/NanumGothic-Regular.eot");
        src: local("NanumGothic"),
          url("../public/font/NanumGothic-Regular.eot?#iefix")
            format("embedded-opentype"),
          url("../public/font/NanumGothic-Regular.woff2") format("woff2"),
          url("../public/font/NanumGothic-Regular.woff") format("woff"),
          url("../public/font/NanumGothic-Regular.ttf") format("truetype");
      }

      h1,
      p,
      a {
        font-family: "Nanum Gothic";
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>사용자 프로필</h1>
        <a href="/logout" class="btn btn-default btn-sm">로그아웃</a>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <% if(user.provider == undefined || user.provider == '') { %>
            <h3><span class="fa fa-user"></span>로컬 프로필 정보</h3>
            <br />
            <p>
              <strong>이메일</strong> : <%= user.email %><br /><br />
              <strong>이름</strong> : <%= user.name %>
            </p>
            <% } else if (user.provider == 'facebook') { %>
            <h3 class="text-primary">
              <span class="fa fa-facebook"></span>페이스북 프로필 정보
            </h3>
            <br />
            <p>
              <strong>아이디</strong> : <% user._json.id %><br /><br />
              <strong>이메일</strong> : <% user._json.email %><br /><br />
              <strong>이름</strong> : <% user._json.name %>
            </p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
